{% extends "base.html" %}

{% block title_head %}
    Listado
{% endblock title_head %}

{% block h1_header %}
    Realizar búsqueda de artículos
{% endblock h1_header %}

{% block main %}
<p>
    <form action="{% url 'inicio:listado_articulo' %}">

        {{formulario_busqueda}}
        
        <input type="submit" value="Buscar" />
    </form>
</p>

{% if listado_articulo %}
<ul>
    {% for articulo in listado_articulo %}
    <li>
        {{articulo}}
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No hay artículos registrados</p>

{% endif %}
{% endblock main %}
