{% extends "base.html" %}

{% block title_head %}
    Listado
{% endblock title_head %}

{% block h1_header %}
    Realizar búsqueda de artículos
{% endblock h1_header %}

{% block main %}
<a href={% url 'inicio:crear_articulo' %}>Ir a registro</a>
<p>
    <form action="{% url 'inicio:listado_articulo' %}">

        {{formulario_busqueda}}
        
        <input type="submit" value="Buscar" />
    </form>
</p>

{% if listado_articulo %}
<ul>
    {% for articulo in listado_articulo %}
    <li>
        {{articulo}} 
        | <a href={% url 'inicio:ver_articulo' articulo.id %}>Detalle</a>
        | <a href={% url 'inicio:eliminar_articulo' articulo.id %}>Eliminar</a>
        | <a href={% url 'inicio:editar_articulo' articulo.id %}>Editar</a>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No hay artículos registrados</p>

{% endif %}
{% endblock main %}
